!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .left-content
      = render partial: "groups/group_top"
      .left-content__group-list
        - if @groups
          = render partial: "groups/group", collection: @groups
    .right-content
